nav {
  padding: 0 20px;
} 

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px , 1fr));
  grid-gap: 1rem;
  gap: 5rem;
  text-align: center;
}

.activator {
  max-height: 350px;
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.card .card-image img {
  min-height: 350px;
  object-fit: fill;
}

